.rst-content .admonition-announcement .admonition-title .fa-info-circle:before {
    content: "\f0a1";
}
.rst-content .fa-search-plus:before,
.rst-content .admonition-announcement .admonition-title:before,
.wy-inline-validate.wy-inline-validate-info .wy-input-context:before,
.wy-inline-validate.wy-inline-validate-warning .wy-input-context:before {
    content: "\f0a1";
}

/* Hide borders for tables inside announcement admonitions */
.rst-content .admonition-announcement table,
.rst-content .admonition-announcement th,
.rst-content .admonition-announcement td {
    border: none !important;
}

.rst-content .section ul.os {
  list-style-type: none;
}
.rst-content .section .os li {
  list-style-type: none;
  position: relative;
  left: 6em;
  }
.os li:before{
  position: absolute;
  left: -6em;
  width: 3.5em;
  text-align: left;
}
li.mac:before {
  content: "Mac:";
  font-weight: bold;
}
li.windows:before {
  content: "Windows:";
  font-weight: bold;
}
